@media (max-width: 768px) {
  .main_section .main_content .content h1 {
    font-size: 48px;
  }

  .main_section .main_content .number_page {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .main_section {
    padding: 30px 0 0;
    background-size: 94%, cover;
    background-position: 248% 26%, 0 0;
  }

  .main_section .main_content .content h1 {
    margin: 20px 0;
    font-size: 40px;
  }

}

/*# sourceMappingURL=media.css.map */