/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/
/* General
======================= */
/* Fonts */

@font-face {
  font-family: "TTNorms-Bold";
  src: url(../fonts/kiona/TT-Norms-Fonts/TTNorms-Medium.otf);
}

body {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "TTNorms-Bold";
}

/* Links
==========================*/
a,
a:hover,
a:focus {
  text-decoration: none;
}

/* Headings 
========================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
}

p {
  margin: 0;
}

/*Lists
==========================*/
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Images
=========================== */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

img.logo-white {
  filter: brightness(15);
}

/* Section Setting
============================ */
.section-lg {
  padding: 50px 0;
}

a,
a:hover {
  color: inherit;
}

button,
button:hover,
button:focus {
  outline: inherit;
}

@keyframes opac {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loaderAnimate {
  0% {
    transform: translateY(140%);
  }

  100% {
    transform: translateY(-140%);
  }
}

/* navbar-brand 
=======================*/

.navbar-brand img {
  width: 120px;
}

.list_buttons .close_list {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  cursor: pointer;
}

.list_buttons li {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: capitalize;
}

.list_buttons li a {
  display: inline-block;
  position: relative;
  font-family: "-Kiona-Bold", sans-serif;
}

.list_buttons li a::after {
  position: absolute;
  content: "";
  right: 0;
  top: 100%;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.list_buttons li a:hover::after {
  width: 100%;
}

.loader .load_content span {
  opacity: 0.7;
  font-size: 40px;
  font-family: "-Kiona-Bold", sans-serif;
}

.list_buttons,
.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #f92056;
  transform: translateY(-140%);
  transition: all 1s ease-in-out;
  z-index: 55555;
  display: flex;
}

.loader {
  transform: translateY(140%);
}

.loader:after,
.list_buttons:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5555;
  background-color: rgb(249, 32, 86, 0.5);
  transform: translateY(-10%);
  height: 40%;
}

.loader:after {
  transform: translateY(10%);
  top: unset;
  bottom: 100%;
}

.list_buttons.active {
  transform: translateY(0%);
}

.loader.active {
  transform: translateY(0%);
  /* animation: loaderAnimate 1s ease-in-out 1; */
}

.main_section {
  background-image: url("../images/Stone2.gif"), url(../images/Page-1.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  padding: 50px 0 0;
  color: #fff;
  background-size: 60%, cover;
  background-position: 70% 70px, 0 0;
}

.main_section .main_content {
  height: calc(100% - 170px);
  display: flex;
  align-items: flex-end;
  font-family: "TTNorms-Bold", sans-serif;
}

.main_section .main_content .arrows_control {
  margin-top: 50px;
}

.main_section .main_content .arrows_control ul li {
  display: inline-block;
  width: 40px;
  border: 2px solid #11a9f1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  margin-right: 5px;
  cursor: pointer;
}

.main_section .main_content .arrows_control ul li:hover,
.main_section .main_content .arrows_control ul li.active {
  transform: scale(1.2);
  border-color: #f92056;
}

.main_section .main_content .content p {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 9px;
}

.main_section .main_content .content h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 30px 0 40px 0;
}

.main_section .main_content .content button.watch_video {
  font-family: "Gilroy-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  word-spacing: 3px;
  border: 2px solid #f92056;
  background-color: transparent;
  color: #fff;
  padding: 15px 70px 15px 30px;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.main_section .main_content .content button.watch_video::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #f92056;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  opacity: 0.3;
}

.main_section .main_content .content button.watch_video:hover::after {
  width: 100%;
  opacity: 1;
  animation: opac 0.9s ease-in-out;
}

.main_section .main_content .content button.watch_video span {
  z-index: 1;
}

.main_section .main_content .content button.watch_video span.arrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background-color: #f9205642;
}

.main_section .main_content .number_page {
  text-align: right;
  margin-top: 45px;
}

.main_section .main_content .number_page p.big_num span {
  font-size: 45px;
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.main_section .main_content .number_page p.big_num span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 90%;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.main_section .main_content .number_page p.big_num sup {
  font-size: 15px;
  display: inline-block;
  color: #f92056;
  transform: translateY(-15px);
}

header {
  background-color: transparent;
}

header .navbar {
  padding: 0;
}

header .navbar .navbar-brand {
  font-size: 30px;
  font-family: "-Kiona-Bold", sans-serif;
}

header .navbar button.open_list {
  margin-right: 0;
  color: #fff;
  position: absolute;
  right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

header .navbar button.open_list:focus,
header .navbar button.open_list:hover {
  border: 0;
  outline: 0;
}

header .navbar .navbar-collapse {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
